/* src/components/Login.css */
.container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
}

.input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.button {
  background-color: #ff2929;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #007bff;
}
